$blue: #7c5dfa;
$light-white: #ddd;
$light-grey: #777;
$black: #000;

.container {
    max-width: 1140px;
    margin-left: 15px;
    margin-right: 15px;
    margin: auto;
}

.job__list__wrapper {
    padding: 30px;
    margin-top: -30px;
    background-color: white;
    border-radius: 15px;
}

.search__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .search__panel-01 {
        padding: 15px 25px;
        width: 340px;
    }
    
    .search__panel-02 {
        padding: 10px 25px;
    }
    
    .search__panel-03 select {
        padding: 15px 25px;
        border: 1px solid $light-white;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 500;
    }
}

.search__panel-01, .search__panel-02 {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    border: 1px solid $light-white;
    border-radius: 5px;
    outline: none;
}

.btn {
    background: $blue;
    padding: 7px 25px;
    border: none;
    outline: none;
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}

.search__panel-01 input, .search__panel-02 input {
    border: none;
    outline: none;
    color: $black;
    font-size: 0.9rem;
}

.search__panel-01 span i, .search__panel-02 span i {
    color: $blue; 
}

.job__wrapper {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.job__item {
    width: 350px;
    margin-bottom: 50px;

    img {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
}

.job__content {
    h6 {
        font-size: 0.9rem;
        font-weight: 400;
        color: $light-grey;
        margin-bottom: 10px;
    }

    h1 {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: $black;
    }
}

.location {
    p {
        margin-top: 5px;

        span {
            color: $blue;
        }
    }    
}

@media only screen and (max-width: 824px) {
    h1, h2 {
      font-size: 1.2rem;
    }
  
    .job__item {
      width: 300px;
    }

    .search__panel-01, .search__panel-03 select {
        padding: 7px 20px;
    }

    .search__panel-01 input, .search__panel-02 input, .search__panel-03 select {
        font-size: 0.9rem;
    }

    .search__panel-02 {
        padding: 5px 20px;
    }

    .search__panel {
        row-gap: 1rem;
    }

    .btn {
        padding: 4px 20px;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 576px) {
    .search__panel-02 {
      display: none;
    }
}